/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.product-card {
  width: 30%;
  min-width: 200px;
  margin: 5px;
}

.product-box {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product-box .image-wrapper {
  width: 40%;
  min-width: 200px;
}

.image-wrapper img {
  width: 100%;
}

.product-info {
  width: 55%;
  min-width: 200px;
  padding: .5em;
}

.new_order_item {
  display: flex;
  align-items: baseline;
  max-width: 300px;
}

.quantity-input {
  flex-shrink: 3;
}

.new_order_item .btn {
  flex-shrink: 0;
  padding-left: 9px;
  padding-right: 9px;
}

@media screen and (max-width: 467px) {
  .product-card {
    width: 85%;
  }
}
